<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e379adee4.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/dashboardCss.css'>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg" id="header">
            <a class="navbar-brand" href="/dashboard">
                <h1 class="textBlue">Tracksactions</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn darkmode" id="switchDark">Switch to dark mode</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                    </li>

                </ul>
            </div>
            <div class="textBlue">
                <h5>Welcome, <%= user.name %></h5>
            </div>
            <form style="margin-left: 2vw" action="/logout" method="get">
                <button type="submit" class="btn btn-danger">Signout</button>
            </form>
        </nav>
    </div>
    <hr>
    <div class="sidenav">
        <a href="/home"><i class="fa fa-home"></i> Home</a>
        <a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i
                class="fa fa-plus" aria-hidden="true"></i> Add New
            Expense</a>
        <a href="#" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><i
                class="fa fa-eye" aria-hidden="true"></i> View
            Expenses</a>
        <a href="https://forms.gle/2D3MYr1TSCAr1vTm9" target="_blank"><i class="fa fa-bug" aria-hidden="true"></i>
            Report Bug(s)</a>
    </div>

    <div class="main">
        <%- include("DashboardContent")-%>
    </div>
    <!-- <footer>Copyright © 2020. Developer@mrigankx.</footer> -->
