.textBlue {
  color: #218eed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(63, 33, 145);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openNav {
  font-size: 30px;
  cursor: pointer;
}
.main {
  font-size: 2vw;
  padding: 0px 10px;
}

/* add new transactions */
.container input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.add_buttons button {
  color: white;
  padding: 14px 20px;
  font-size: 1.2vw;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-left: 20px;
}

.add_buttons button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.darkmode {
  width: auto;
  padding: 10px 18px;
  font-size: 1.2vw;
  background-color: black;
  color: white;
}
.darkmode:hover {
  background-color: rgb(87, 80, 80);
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 40px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: auto;
}
.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  height: auto;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Cards */
.card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 10px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #fff;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #fff;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #fff;
}

.card-counter.info {
  background-color: #26c6da;
  color: #fff;
}
.dark {
  background-color: #1c1c1b;
}
.fulldark {
  background-color: #1c1c1b;
  color: white;
}
.textWhite {
  color: white;
}
.card-counter i {
  font-size: 2em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 2.9vw;
  display: inline-block;
}

.card-counter .count-name {
  position: absolute;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 1.5vw;
  margin-bottom: 10px;
}

#chart {
  margin-top: 3vw;
  height: 60%;
  width: 80%;
}

h3 {
  text-align: center;
  text-decoration: underline;
}
#barChart {
  margin-top: 100px;
  margin-left: 3vw;
  height: 70%;
  width: 90%;
}
/* for responsiveness in mobile */
@media only screen and (max-width: 600px) {
  .sidenav a {
    font-size: 2.5vw;
  }
  .modal-content {
    width: 85%; /* Could be more or less, depending on screen size */
  }
  .darkmode {
    width: auto;
    font-size: 2vw;
  }
  .modal-content2 {
    width: 90%; /* Could be more or less, depending on screen size */
  }
  .add_buttons button {
    font-size: 4vw;
  }

  .card-counter .count-numbers {
    font-size: 4vw;
  }

  .card-counter .count-name {
    font-size: 3vw;
  }
  #chart {
    margin-top: 2vw;
    height: 40%;
    width: 100%;
  }
  #barChart {
    height: 100%;
    width: 100%;
  }
  .openNav {
    font-size: 25px;
  }
}
